body {
    display: flex;
    flex-direction: column;
}

#control-panel {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 20px;
    
}

.square {
    background-color: whitesmoke;
    flex: 1 0
}

#container {
    display: flex;
    flex-wrap: wrap;
    height: 50em;
}